/*
Theme Name: Orocom Child
Theme URI: https://elementor.com/hello-theme/?utm_source=wp-themes&utm_campaign=theme-uri&utm_medium=wp-dash
Template: hello-elementor
Author: Child Theme Configurator
Author URI: https://elementor.com/?utm_source=wp-themes&utm_campaign=author-uri&utm_medium=wp-dash
Tags: accessibility-ready,flexible-header,custom-colors,custom-menu,custom-logo,featured-images,rtl-language-support,threaded-comments,translation-ready
Version: 3.4.1.1747486553
Updated: 2025-05-17 12:55:53
*/
/******************** menu ******************/
a#elementor-menu-cart__toggle_button {
    transform: none !important;
}
/* home page*/
.tabs-home .e-n-tabs-heading {
    background-color: #c1ecfa;
    width: fit-content;
    border-radius: 50px;
}
.tabs-home .e-n-tabs-heading .e-n-tab-title[aria-selected="true"]{font-weight: 700 !important;}
.avis-home .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: #72585800 !important;
    border: 1px solid #ff7800 !important;
}
.avis-home .elementor-swiper-button {
    background: #ff7900 !important;
    border-radius: 50px !important;
	  padding: 4px !important;}
.avis-home .elementor-star-rating { order: 3 !important;}
.avis-home .swiper-slide{box-shadow: 0px 0px 5px 0px #00000029;border-width: 0px;}
.avis-home .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal { bottom: -33px;}
/* .woocommerce div.product, .col-product, .sec-produit .e-con-inner {overflow: visible !important;} */
.woocommerce div.product{overflow: visible !important;padding-top: 88px!important;}
.sec-produit .swiper.elementor-loop-container.elementor-grid.swiper-initialized.swiper-horizontal.swiper-android {padding-inline: 13px !important;}
.sec-produit p.price { display: flex; flex-direction: column;align-items: center;}
.sec-produit p.price ins{text-decoration: none !important;}
.sec-produit .swiper-pagination{display:none !important;}
.sec-produit .e-loop-add-to-cart-form .add_to_cart_button::before, .tax-product_cat .elementor-wc-products ul.products li.product .button:before , button.single_add_to_cart_button.button.alt:before, .elementor-wc-products ul.products li.product .button:before{
  content: "\f291";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 8px;
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
}
/******************************* page single product ************************************/
.single-product .quantity .qty {padding: 4px 4px 4px 4px !important;}
.single-product .product .product_title{font-size:40px;position:relative;}
.single-product .product .product_title:after {
    content: "";
    background-color: #c0ebfa;
    left: -12px;
    position: absolute;
    bottom: -3px;
    height: 29px;
    width: 164px;
    padding: 0px 0px 0px 0px;
    z-index: -1;
}
.single-product .price del .woocommerce-Price-amount bdi{font-size: 20px !important;    text-decoration: line-through;color: #FF1212 !important;}
.single-product .price ins .woocommerce-Price-amount bdi{
  color: #000000 !important;
  font-size: 40px !important;
  font-weight: 800 !important;
}
.single-product .price ins, .single-product .price del{text-decoration: none;}
.single-product .price, .single-product form.cart {    
	display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;}

.single-product input.qty {
    background: #DDDDDD!important;
    color: #626262!important;
    border-color: #626262!important;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    margin-top: -99px;
    width: 55%;
    margin-inline: auto;
}
/*********************** page categories ***************************************/
.tax-product_cat li.product {
    background-color: #fff!important;
    border-radius: 20px!important;
    padding: 38px!important;
    box-shadow: 0px 2px 14px 0px #0000004d!important;
}
.tax-product_cat h2.woocommerce-loop-product__title { font-size: 20px !important; text-align: center !important;}
.tax-product_cat .price{
	color:#000 !important;
	display: flex!important;
    flex-direction: column!important;
    gap: 16px!important;
    justify-content: center!important;
    align-items: center!important;}

.tax-product_cat .price del .woocommerce-Price-amount bdi{
    font-size: 20px !important;
	color: #000000 !important;
}
.tax-product_cat .price ins .woocommerce-Price-amount bdi{
  color: #000000 !important;
  font-size: 40px !important;
  font-weight: 800 !important;
}
.tax-product_cat .price ins{text-decoration: none;}
.tax-product_cat .cart .button, .cart .button{
    color: #fff !important;
    background-color: #ff7900!important;
    font-size: 18px!important;
    font-weight: 400!important;
    text-transform: normal!important;
    font-style: normal!important;
    text-decoration: none!important;
    border-radius: 7px!important;
	border:3px solid  #ff7900 !important;
    padding: 13px 20px 13px 20px!important;
    margin-top: 20px!important;
    display: flex!important;
    width: fit-content!important;
    margin-inline: auto!important;
    align-items: center!important;
    justify-content: center!important;
}
.tax-product_cat .cart .button:hover, .cart .button:hover{background-color: #fff !important; color: #ff7900!important;}
.tax-product_cat .elementor-wc-products ul.products li.product .button, button.single_add_to_cart_button.button.alt {position:relative;}
.cart .button{	margin-inline:0px!important;}
/**************************** panier a droite **************************************/
.elementor-menu-cart__main .product-name a{font-size:17px !important;}
.elementor-menu-cart__main { padding: 20px !important;}
.elementor-menu-cart__main span.quantity { font-size: 20px;color: black;}
.elementor-menu-cart__main bdi {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 23px;
}
.elementor-menu-cart__main .elementor-menu-cart__subtotal { padding: 10px;}
.elementor-menu-cart__main .elementor-menu-cart__footer-buttons { display: flex;flex-direction: column;}
.elementor-menu-cart__main a.elementor-button, button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained, button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained, .wc-block-cart__submit-container a{
    font-size: 18px !important;
    font-family: 'Raleway' !important;
    background-color: #ff7800;
	font-weight:700;
	color: #fff !important;
    border-radius: 8px;
    padding: 10px;
}
.elementor-menu-cart__main a.elementor-button:hover, button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained:hover, button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained:hover, .wc-block-cart__submit-container a:hover{
    background-color: #fff;color: #ff7800!important;
}
.elementor-menu-cart__main .elementor-menu-cart__product-name, .elementor-menu-cart__main .elementor-menu-cart__product-price {padding-inline-start: 13px;}
.page-id-2033 .wp-block-woocommerce-cart {
    container-type: inline-size;
    width: 100%;
    margin: auto;
}
/******************************** translate page *********************************/
.trp-language-item {padding: 7px 5px !important;}
body .trp-flag-image {width: 30px !important;}
/*********************************** home page *********************************/
.home .swiper.elementor-loop-container.elementor-grid.swiper-initialized.swiper-horizontal.swiper-pointer-events {padding-inline: 14px !important;}
/*********************************** Mega menu *********************************/
.mega-menu-wrap, .mega-menu-wrap .mega-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,  .mega-menu-wrap .mega-menu >li.mega-menu-item > a.mega-menu-link:hover {background: #ffffff !important;}
.mega-menu-wrap .mega-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {border-bottom:3px solid #ff7700 !important;}
.mega-menu-wrap  a.mega-menu-link { color: #000 !important;font-weight:800!important;font-family:'Raleway'!important;font-size:18px!important;}
.mega-menu-wrap .mega-menu > li.mega-menu-megamenu > ul.mega-sub-menu {background: #fff!important;border-radius: 0px 0px 30px 30px!important;}
.mega-menu-wrap .mega-menu {text-align: right!important;}
.mega-menu-wrap h4.mega-block-title {
    color: #000 !important;
    text-transform: none !important;
    font-size: 15px !important;
}
.mega-menu-wrap .mega-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column-standard{padding: 6px !important;}
.mega-menu-wrap .mega-menu .mega-sub-menu nav ul{list-style-type: none; color: #000; font-size: 14px; font-family: 'Raleway';padding-left: 0px;}
.mega-menu-wrap .mega-menu ul.mega-sub-menu { padding: 10px 20px !important;}











